<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% unless page.fileSlug == 'homepage' or title.length == 0 %}
        {{ title }} |
      {% endunless %}
      {{ site.name }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="application-name" content="{{ site.name }}" />
    {% capture css %}
      {% render "styles.css" %}
    {% endcapture %}
    <style>
      {{ css }}
    </style>
  </head>
  <body>

    {% render "header", site: site %}
    
    {{ content }}
    
    {% render "footer", site: site %}

  </body>
</html>