---
layout: base.liquid
---

{% assign tag = tags[0] %}
<header>
  <h1>{{ title }}</h1>
  <time pubdate="{{ publish_date | date: " %Y-%m-%d" }}">
{% if tags[0] == 'Archives' %}{{ author }} • {% endif %}{{ publish_date | utc | date: "%A, %B %e, %Y @ %H:%M" }} UTC
  </time>
</header>
<main>
  <article>
    {{ content | markdownify | prependCloudinaryURL }}
    {% assign postComments = comments | sort: "timestamp" | reverse %}
    {% for comment in postComments %}
    <aside style="display:grid;gap:5px 0;padding:1rem;background-color:#f1f5f9">
      <time><strong>{{ comment.author }}</strong> • {{ comment.timestamp | date: "%a, %b %-d '%y @ %H:%M" }}</time>
      <div>
        {{ comment.body | markdownify | prependCloudinaryURL }}
      </div>
    </aside>
    {% endfor %}
    {% assign previousPost = collections[tag] | getPreviousCollectionItem %}
    {% assign nextPost = collections[tag] | getNextCollectionItem %}
    <pre>
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    </pre>
  </article>
</main>