---
permalink: /bygone/index.html
title: Ye Oulde Frenzy
---

{% assign postsByYear = posts | group_by: "year" | sort | reverse %}
{% for postByYear in postsByYear %}
  <dl class="archive">
    <dt>{{ postByYear.name }}</dt>
    {% assign postsByMonth = postByYear.items | group_by: "month" | sort: "name" | reverse %}
    <dd>
      {% for month in postsByMonth %}
        <div class="archive-months">
          <h3>{{ month.name | monthName }}</h3>
          <div>
            {% assign postsSortedByDay = month.items | sort: "publish_date" | reverse %}
            {% for post in postsSortedByDay %}
              <span>{{ post.publish_date | date: "%d" }}</span>
              <span>
                <a href="/bygone/{{ post.year }}-{{ post.month }}-{{ post.day }}-{{ post.title | slugify }}/">{{ post.title }}</a>
              </span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </dd>
  </dl>
{% endfor %}