---
pagination:
  data: site.sections
  size: 1
  alias: section
permalink: "/{{ section.slug }}/index.html"
eleventyComputed:
  title: "{{ section.title }}"
---

<header>
  <h1>
    {{ section.title }}
  </h1>
</header>

<main>
  <ol>
    {% assign sortedCollection = collections.all | where: "data.section_slug", section.slug | sort: "publish_date" | reverse %}
    {% for post in sortedCollection %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a>{% if post.data.comment_count > 0 %} ({{ post.data.comment_count }}){% endif %}</li>
    {% endfor %}
  </ol>
</main>