---
permalink: /index.html
---

<header>
  <h1>
    Flagstaff Frenzy
  </h1>
</header>

<main>
  <article>
    <pre>{{ collections['Archives'] | size }}</pre>
  </article>
  {% comment %} <article>
    {% assign posts_by_year = posts | group_by: "year" | sort: "name" | reverse %}
    {% for year in posts_by_year %}
      <dl class="archive">
        <dt>{{ year.name }}</dt>
        <dd>
          {% assign zeYear = year.name %}
          {% assign posts_by_month = year.items | group_by: "month" | sort: "name" | reverse %}
          {% for month in posts_by_month %}
            <div class="archive-months">
              <h3>{{ month.name | monthName }} '{{ zeYear | slice:2,3 }}</h3>
              <div>
                {% for post in month.items %}
                  <span>{{ post.publish_date | date: "%d" }}</span>
                  <span><a href="/archives/{{ post.year }}-{{ post.month }}-{{ post.day }}-{{ post.title | slugify }}">{{ post.title }}</a> ({{ post.comments | size }})</span>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </dd>
    {% endfor %}
  </article> {% endcomment %}
</main>

  {% comment %} {% assign posts_by_dave = posts | where: "author", "Dave" %}
  Dave: {{ posts_by_dave | size }}<br>
  {% assign posts_by_steve = posts | where: "author", "Steve" %}
  Steve: {{ posts_by_steve | size }}<br>
  {% assign posts_by_greg = posts | where: "author", "Greg" %}
  Greg: {{ posts_by_greg | size }}<br>
  {% assign posts_by_kevin = posts | where: "author", "Kevin" %}
  Kevin: {{ posts_by_kevin | size }}<br>
  {% assign posts_by_isean = posts | where: "author", "iSean" %}
  iSean: {{ posts_by_isean | size }}<br>
  {% assign posts_by_matt = posts | where: "author", "Matt" %}
  Matt: {{ posts_by_matt | size }}<br>
  {% assign posts_by_adriana = posts | where: "author", "Adriana" %}
  Adriana: {{ posts_by_adriana | size }}<br>
  {% assign posts_by_werner = posts | where: "author", "Werner" %}
  Werner: {{ posts_by_werner | size }} {% endcomment %}