---
pageable: true
per_page: 10
---

<% content_for :script do %>
  <script>    
    var token = '3dc3ad33a2014792b85d7c3557df574c',
        hashtag='flagstafffrenzyboulder', // hashtag without # symbol
        num_photos = 4;
     
    $.ajax({
      url: 'https://api.instagram.com/v1/tags/' + hashtag + '/media/recent',
      dataType: 'jsonp',
      type: 'GET',
      data: {access_token: token, count: num_photos},
      success: function(data){
        console.log(data);
        for(x in data.data){
          $('ul.instagram').append('<li><img src="'+data.data[x].images.standard_resolution.url+'"></li>');  
        }
      },
      error: function(data){
        console.log(data);
      }
    });
  </script>
<% end %>

<ul class="instagram"></ul>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <% if article.tags.include? 'sundry' %>
    <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e %Y') %></span></h2>
    <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
    <%= article.summary(250) %>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
